<% provide(:title, "Регистрация") %>
<%= form_for(@user, html: {class: "form-horizontal"}) do |u| %>
  <fieldset>
    <legend>Регистрация</legend>
    <%= error_messages_for(@user) %>
    <div class="control-group">
      <%= u.label :email, "Почта" %>
      <div class="controls">
        <%= u.text_field :email %>
      </div>
    </div>
    <div class="control-group">
      <%= u.label :name, "Имя" %>
      <div class="controls">
        <%= u.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= u.label :password, "Пароль" %>
      <div class="controls">
        <%= u.password_field :password %>
      </div>
    </div>
    <div class="control-group">
      <%= u.label :password_confirmation, "Потвердите пароль" %>
      <div class="controls">
        <%= u.password_field :password_confirmation %>
      </div>
    </div>
    <div class="form-actions">
      <%= u.submit "Зарегистрироваться", class: "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>