<% provide(:title, "Home page") %>
<div class="sort_by_date">
  Sort by <%= link_to_sorted icon_time, :created_at, :title => "Date" %>
</div>

<% @posts.each do |p| %>
<div class="show-post">
  <h3 class="post-title"><%= link_to p.title, p %></h3>
  <div class="post-body"><%= p.post %></div>
  <div class="post-info"><%= p.created_at.to_formatted_s(:short) %></div>
</div>
<% end %>

<%= paginate @posts %>