<% provide(:title, params[:tag]) %>
<div class="sort_by_date">
  Sort by <%= link_to_sorted icon_time, :created_at, :title => "Date" %>
</div>

<% @posts.each do |p| %>
<div class="show-post">
  <h3 class="post-title"><span class="post-cat-title"><%= link_to p.category.title, p.category %></span> → <%= link_to p.title, p %></h3>
  <div class="post-body"><%= more_post(p.post) %></div>
  <div class="post-tags">
    <span class="post-tags-title">
      Tags:
    </span>
    <!-- tags -->
    <% p.tag_list.each do |t| %>
      <% if t == p.tag_list.last %>
        <%= link_to t, tags_path(t) %>
      <% else  %>
        <%= link_to t, tags_path(t) %>, 
      <% end %>
    <% end %>
    <!-- end tags -->
  </div>
  <div class="post-info">
    <%= p.created_at.to_formatted_s(:short) %>
    <div class="count-comment">
      <%= link_to comment_icon + " #{p.comments.count}", p %>
    </div>
  </div>
  <% if current_user && current_user.admin == true %>
    <div class="admin-actions">
      <%= link_to "edit", edit_post_path(p) %>
      <%= link_to "delete", p, :method => :delete, :data => { :confirm => "delete?" } %>
    </div>
  <% end %>
</div>
<% end %>

<%= paginate @posts %>