<!DOCTYPE html>
<html>
<head>
  <title><%= title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
</head>
<body>
  <%= render "layouts/navbar" %>
  <div class="container">
    <div class="row">
      <div class="span12">
        <% if notice %>
        <div class="alert notice">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <%= notice %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span9"><%= yield %></div>
      <%= render "layouts/sidebar" %>
    </div>
    <%= render "layouts/footer" %>
  </div>
</body>
</html>
